.title_pnl{
    background-color: rgb(148, 144, 255);
    height: 100px;
    width: 1200px;
}
.title_ovr{
    background-color: rgb(68, 62, 117);
    height: 110px;
    width: 1210px;
}
/* intro */
.intro_pnl{
    background-color: rgb(146, 255, 144);
    height: 100px;
    width: 1200px;
}
.intro_ovr{
    background-color: rgb(62, 117, 62);
    height: 110px;
    width: 1210px;
}
/* content */
.content_pnl{
    background-color: rgb(146, 255, 144);
    height: 1000px;
    width: 1200px;
}
.content_ovr{
    background-color: rgb(62, 117, 62);
    height: 1010px;
    width: 1210px;
}
/* links */
.links_pnl{
    background-color: rgb(146, 255, 144);
    height: 100px;
    width: 1200px;
}
.links_ovr{
    background-color: rgb(62, 117, 62);
    height: 110px;
    width: 1210px;
}
#title_text{
    font-family: Consolas, "Courier New", monospace;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: left;
}
#norm_text{
    font-family: Consolas, "Courier New", monospace;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 1.1px;
}
#link_text{
    font-family: Consolas, "Courier New", monospace;
    font-size: 25px;
    color: rgb(0, 112, 238);
    text-align: center;
    line-height: 10px;
}
#small_text{
    font-family: Consolas, "Courier New", monospace;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
}
#xsmall_text{
    font-family: Consolas, "Courier New", monospace;
    font-size: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
}